/* main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.grey {
  background-color: #a8a8a8;
  color: black;
}
.orange {
  background-color: #fb9623;
  color: white;
}
.dark-grey {
  background-color: #333333;
  color: white;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.calculator {
  padding: 16px;
  width: min(100vw, 56.25vh);
  height: min(100vh, 177vw);
  background-color: black;
  margin-top: auto;
}
.screen {
  padding-top: 11.94%;
  padding-bottom: 11.94%;
  height: 30%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: white;
  font-size: 6rem;
}
.buttons {
  height: 70%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.button {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 2.5rem;
}
.button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.custom-dimension {
  grid-column-end: span 2;
  aspect-ratio: auto;
  border-radius: 500px;
}
